/* body { */
  /* background-image: url('../public/background.jpg'); Replace with your image path */
  /* background-size: cover; Ensures the image covers the entire screen */
  /* background-repeat: no-repeat; Prevents the image from repeating */
  /* background-attachment: fixed; Keeps the background fixed during scrolling */
  /* margin: 0; Removes default margin */
  /* padding: 0; Removes default padding */
/* } */

.about-section {
    padding: 4rem;
    max-width: 700px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    /* margin-top: 5px; */
    flex: 1; /* Allow the text section to take up available space */
    position: relative; /* Ensure the pseudo-element is positioned relative to the container */
    overflow: hidden; /* Hide the gradient overflow */

  }
  
  .about-section h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .about-section p {
    margin-bottom: 1.5rem;
  }

  /* .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex; 
    justify-content: right;
    /* padding-left: 800px;
    padding-top: 250px; */


.about-container {
        display: flex; /* Use Flexbox to align items horizontally */
        align-items: flex-start; /* Align items at the top */
        gap: 2rem; /* Add spacing between the text and the image */
        /* padding-top: px; */
      }
      

.profile-pic {
    width: 475px;
    /* height: px; */
    object-fit: cover;
    display: flex;
    justify-content: right;
    /* padding-top: 150px; */
    padding-right: -250px
  }


.about-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust the height of the fade effect */
  pointer-events: none; /* Ensure the gradient doesn't block interactions */
}

.fade-container {
  max-height: 400px; /* Set the visible area */
  overflow-y: scroll;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}

.fade-content {
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
  line-height: 1.8;
}
/* For scrollable containers or the whole page */
.fade-container::-webkit-scrollbar {
  width: 10px; /* width of vertical scrollbar */
}

.fade-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* track background */
  border-radius: 10px;
}

/* .fade-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
} */

.fade-container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ffc9de, #e6aaff);
  border-radius: 10px;
}
.fade-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

